body {
    background-color: #242424;
}

.big-video{
    margin-left:auto;
    margin-right:auto;
}
.big-video video{
    height:50vh!important;
}
.videobar video{
    height:13vh!important;
    margin-left:auto;
    margin-right:auto;
}