body {
    background-color: #242424;
}

.big-video{
    text-align:center;
}
.big-video video{
    height:70vh!important;
}
.videobar video{
    z-index: 2!important;
    height:25vh!important;
    margin-left:10px;
    margin-right:auto;
}
.userCamera{
    z-index: 3;
    position:absolute;
    transform: scaleX(1) !important;
    height: 25vh;
    left: 3px;
    top: 3px;
}
.floating-sub{
    color: white;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    position: relative;
    bottom: 34px;
    padding-left: 20%;
    padding-right: 20%;
    z-index: 1;
    font-size: 50px;
    text-align: center !important;
    line-height: 130%;
}
.login {
    position: relative;
    top: 50%;
    transform: translateY();
}